In [1]:
import pandas as pd
import numpy as np
df = pd.read_csv('Social_Network_Ads.csv')

In [2]:
df

     Age  EstimatedSalary  Purchased
0     19            19000          0
1     35            20000          0
2     26            43000          0
3     27            57000          0
4     19            76000          0
..   ...              ...        ...
395   46            41000          1
396   51            23000          1
397   50            20000          1
398   36            33000          0
399   49            36000          1

[400 rows x 3 columns]

In [8]:
df_x = df.iloc[:,[0,1]].values

In [9]:
df_y = df.Purchased

In [10]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(df_x,df_y,test_size=0.2)

In [11]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
x_train = sc.fit_transform(x_train)
x_test = sc.transform(x_test)

In [12]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression()
classifier.fit(x_train,y_train)

LogisticRegression()

In [13]:
y_pred = classifier.predict(x_test)

In [14]:
y_pred

array([1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0,
       1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0], dtype=int64)

In [15]:
from sklearn.metrics import confusion_matrix 
cm = confusion_matrix(y_test,y_pred)
cm

array([[43,  1],
       [11, 25]], dtype=int64)

In [17]:
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test,y_pred)*100)

85.0

In [18]:
df = pd.DataFrame({'pred':y_pred,'actual':y_test})
df

     pred  actual
336     1       1
119     0       0
266     0       0
279     1       1
85      0       1
..    ...     ...
265     1       1
202     1       1
344     1       1
59      0       0
276     0       0

[80 rows x 2 columns]

In [20]:
from sklearn.metrics import classification_report
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.80      0.98      0.88        44
           1       0.96      0.69      0.81        36

    accuracy                           0.85        80
   macro avg       0.88      0.84      0.84        80
weighted avg       0.87      0.85      0.85        80